.form {
  display: flex;
}

.input {
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 80%;
  font-size: 1.2em;
  background: rgb(255, 255, 255, 0.2);
}

.input::placeholder{
  color: white;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  color: white !important;
  text-transform: uppercase;
  text-decoration: none;
  /* background: rgb(0, 0, 0, 0.8); */
  background: rgb(0, 0, 0, 0.8);
  padding: 20px;
  display: inline-block;
  border: none;
  width: 20%;
  border-bottom-right-radius: 8px; 
}